@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Kanit:wght@500&family=Lato:wght@700&family=Roboto:ital,wght@0,500;1,400&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: rgba(25, 24, 26, 0.976);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
nav h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Bubblegum Sans', cursive;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav ul li {
    margin-left: 40px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    
}
nav ul li a:hover {
    color: rgb(174, 159, 159);
}
img {
    padding-top: 10px;
    width: 70%;
}
